<button nz-button nzType="primary" (click)="refresh()">
  <i nz-icon nzType="poweroff"></i>
  Refresh
</button>
<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let item of records" class="list-item-record">
    <nz-list-item-meta (click)="editRecord(item.id)">
      <nz-list-item-meta-title (click)="editRecord(item.id)">
        {{ item.title }}
        <span class="rent-price">{{ item.rentPrice }} + {{ item.feePrice ? item.feePrice : "--" }}</span>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description (click)="editRecord(item.id)">
        {{ item.platformName }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <div (click)="editRecord(item.id)"
      class="cut-text">{{ (item.description.length > 500) ? (item.description | slice:0:500) + '..' : (item.description)}}</div>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <span class="record-status">{{ item.processStatus }}</span>
      </nz-list-item-action>
      <nz-list-item-action>
        {{ item.date}}
      </nz-list-item-action>
    </ul>
    <nz-list-item-extra>
      <a href="{{ item.link }}" target="_blank">
        <img class="record-image" alt="logo" [src]="item.mainImageUrl"/>
      </a>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="drawerOpen"
  [nzWidth]="1000"
  [nzPlacement]="'left'"
  class="edit-record-drawer"
  nzTitle="Изменить"
  (nzOnClose)="closeDrawer()"
>
  <form *nzDrawerContent nz-form [nzLayout]="'vertical'" (ngSubmit)="submitForm()">
    <nz-form-item class="edit-record-drawer">

      <h2 class="drawer-source-link">
        <a [href]="selectedRecord.link" target="_blank">{{ selectedRecord?.title }}</a>
      </h2>
      <nz-form-item class="form-item">
        <nz-form-label>Домашние животные</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select name="animalsStatus" [(ngModel)]="selectedRecord.animalsStatus" (ngModelChange)="log($event)">
            <nz-option *ngFor="let enum of AnimalsStatus | keyvalue"
                       [nzValue]="enum.key"
                       [nzLabel]="enum.value"
            >{{ enum.key }}</nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="form-item">
        <nz-form-label>Ванная комната</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select name="bathroomStatus" [(ngModel)]="selectedRecord.bathroomStatus">
            <nz-option *ngFor="let enum of BathroomStatus | keyvalue" [nzValue]="enum.key"
                       [nzLabel]="enum.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="form-item">
        <nz-form-label>Тип жилья</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select name="type" [(ngModel)]="selectedRecord.type">
            <nz-option *ngFor="let enum of ApartmentType | keyvalue" [nzValue]="enum.key"
                       [nzLabel]="enum.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="form-item">
        <nz-form-control [nzSpan]="6" [nzOffset]="20">
          <button nz-button nzType="primary">Сохранить</button>
        </nz-form-control>
      </nz-form-item>

    </nz-form-item>
  </form>
</nz-drawer>
