.cut-text {

}

.search-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-items: start;
  justify-content: center;
}

.total-price {
  font-weight: bolder;
  font-size: larger;
  color: midnightblue;
  margin: 0 12px;
}

.rent-price {
  font-weight: lighter;
  color: gray;
}

.list-item-record {
  margin: 5px 24px;
  padding: 24px;
  background-color: white;
  border-radius: 6px;
}

.list-item-record-new {
  background-color: palegreen;
}

.platform-avatar {
  background-color: forestgreen;
  margin: 0 12px;
  vertical-align: middle;
}

.record-image {
  width: 272px;
  height: 200px;
  object-fit: contain;
}


.platform-badge {
  background-color: forestgreen;
  color: white;
  font-weight: bolder;
  padding: 2px 15px;
  border-radius: 12px;
  cursor: pointer;
}

.record-status {
  background-color: #22278b;
  color: white;
  font-weight: bolder;
  margin: 0 2px;
  padding: 2px 15px;
  border-radius: 12px;
  cursor: pointer;
}

[nz-form] {
  max-width: 1200px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.clickable-area {
  display: block;
}

.edit-record-drawer {
  padding: 12px;
}

.drawer-source-link {
  margin: 24px 0;
}

.form-item {
  margin-bottom: 12px;
}

.form-item-label {
  font-weight: 300;
  color: #646464;
}

.record-status-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*justify-content: start;*/
  /*justify-items: center;*/
  padding: 0;
}

.record-status-list-item {
  width: fit-content;
  list-style: none;
  opacity: .3;
  transition: opacity 300ms;
}

.record-status-list-selected {
  opacity: 1;
  margin: 0 12px;
}

.truncated-status {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 12px;
  text-overflow: ellipsis;
}

.record-status-list-item:hover {
  opacity: 1;
  transition: opacity 300ms;
}

.duplicate-row-platform {
  background-color: green;
  color: white;
  border-radius: 12px;
  margin-right: 12px;
  padding: 3px 12px;
}

.duplicate-row-date {
  font-weight: lighter;
  align-self: end;
  margin-left: 36px;
}
