.cut-text {

}

.rent-price {
  margin-left: 24px;
}

.list-item-record {
  margin: 5px 24px;
  padding: 24px;
  background-color: white;
  border-radius: 6px;
}

.platform-avatar {
  background-color: forestgreen;
  margin: 0 12px;
  vertical-align: middle;
}

.record-image {
  width: 272px;
  height: 200px;
  object-fit: contain;
}


.platform-badge {
  background-color: forestgreen;
  color: white;
  font-weight: bolder;
  padding: 2px 15px;
  border-radius: 12px;
  cursor: pointer;
}

.record-status {
  background-color: #22278b;
  color: white;
  font-weight: bolder;
  padding: 2px 15px;
  border-radius: 12px;
  cursor: pointer;
}

[nz-form] {
  max-width: 1200px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.clickable-area {
  display: block;
}

.edit-record-drawer {
  padding: 12px;
}

.drawer-source-link {
  margin: 24px 0;
}

.form-item {
  margin-bottom: 12px;
}
