<nz-affix [nzOffsetTop]="10" (click)="refresh()">
  <button nz-button nzType="primary">
    <i nz-icon nzType="reload" nzTheme="outline"></i>
    Refresh
  </button>
</nz-affix>

<nz-list nzItemLayout="vertical" [nzLoading]="loading">
  <nz-list-item *ngFor="let item of records" class="list-item-record">
    <nz-list-item-meta (click)="editRecord(item)">
      <nz-list-item-meta-title (click)="editRecord(item)">
        {{ item.title }}
        <span class="total-price">{{ item.feePrice ? (item.feePrice + item.rentPrice) : item.rentPrice + "*"}}</span>
        <span class="rent-price">({{ item.rentPrice }} + {{ item.feePrice ? item.feePrice : ".." }})</span>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description (click)="editRecord(item)">
        {{ item.platformName }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <div (click)="editRecord(item)"
         class="cut-text">{{ (item.description.length > 500) ? (item.description | slice:0:500) + '..' : (item.description)}}</div>
    <ul class="record-status-list">
      <li
        *ngFor="let status of processStatuses"
        class="record-status-list-item"
        [class.record-status-list-selected]="areEqual(item.processStatus, status.key)"
        [class.truncated-status]="!areEqual(item.processStatus, status.key)"
        nz-tooltip nzTooltipTitle="{{ status.title }}">
            <span class="record-status" (click)="updateProcessStatus(item, status.key)"
                  [style]=" { backgroundColor: status.color }">
            {{ status.title }}
            </span>
      </li>
    </ul>
    <ul nz-list-item-actions>
      <nz-list-item-action class="record-item-date">
        {{ item.createdAt | date:'longDate' }}
      </nz-list-item-action>
      <nz-list-item-action>
        {{ item.locationStatus   }}
      </nz-list-item-action>
      <nz-list-item-action>
        {{ getStatusDictValue(item.processStatus)}}
      </nz-list-item-action>
    </ul>
    <nz-list-item-extra>
      <nz-badge [nzDot]="!item.viewed">
      <a href="{{ item.link }}" target="_blank">
        <nz-badge [nzDot]="false">
          <img *ngIf="item.mainImageUrl" class="record-image" [alt]="item.title" [src]="item.mainImageUrl"/>
          <nz-empty *ngIf="!item.mainImageUrl" class="record-image"></nz-empty>
        </nz-badge>
      </a>
      </nz-badge>
    </nz-list-item-extra>
  </nz-list-item>
  <nz-list-empty *ngIf="records.length === 0"></nz-list-empty>
</nz-list>





<nz-drawer
  [nzClosable]="false"
  [nzVisible]="drawerOpen"
  [nzWidth]="1000"
  [nzPlacement]="'left'"
  class="edit-record-drawer"
  nzTitle="Изменить"
  (nzOnClose)="closeDrawer()"
>
  <div *nzDrawerContent>

    <nz-tabset>
      <nz-tab nzTitle="Детали">
        <form nz-form [nzLayout]="'vertical'" (ngSubmit)="submitForm()" nzStandalone>
          <h2 class="drawer-source-link">
            <a [href]="selectedRecord.link" target="_blank">{{ selectedRecord?.title }}</a>
          </h2>
          <nz-form-item class="form-item">
            <nz-form-label class="form-item-label">Домашние животные</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select name="animalsStatus" [(ngModel)]="selectedRecord.animalsStatus" (ngModelChange)="log($event)">
                <nz-option *ngFor="let enum of AnimalsStatus | keyvalue"
                           [nzValue]="enum.key"
                           [nzLabel]="enum.value"
                >{{ enum.key }}</nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item">
            <nz-form-label class="form-item-label">Ванная комната</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select name="bathroomStatus" [(ngModel)]="selectedRecord.bathroomStatus">
                <nz-option *ngFor="let enum of BathroomStatus | keyvalue" [nzValue]="enum.key"
                           [nzLabel]="enum.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item">
            <nz-form-label class="form-item-label">Тип жилья</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select name="type" [(ngModel)]="selectedRecord.type">
                <nz-option *ngFor="let enum of ApartmentType | keyvalue" [nzValue]="enum.key"
                           [nzLabel]="enum.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item">
            <nz-form-label class="form-item-label">Расстояние до школы</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select name="locationStatus" [(ngModel)]="selectedRecord.locationStatus">
                <nz-option *ngFor="let enum of LocationStatus | keyvalue" [nzValue]="enum.key"
                           [nzLabel]="enum.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item class="form-item">
            <nz-form-label class="form-item-label">Ком. услуги</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-input-number name="feePrice"
                               [(ngModel)]="selectedRecord.feePrice"
                               [nzMin]="0"
                               [nzStep]="100"
                               [nzFormatter]="formatterZloty"
                               [nzParser]="parserZloty">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item">
            <nz-form-label class="form-item-label">
              Ссылка на координаты -
              <a *ngIf="selectedRecord.location" [href]="selectedRecord.location" target="_blank">ссылка</a>
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input [ngModelOptions]="{standalone: true}" nz-input id="location" [(ngModel)]="selectedRecord.location" placeholder="Ссылка на Гугл координаты"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item">
            <nz-form-control [nzSpan]="6" [nzOffset]="20">
              <button nz-button nzType="primary">Сохранить</button>
            </nz-form-control>
          </nz-form-item>

          <div class="record-event-history-block">
            <nz-form-label class="form-item-label">
              Комментарии
            </nz-form-label>
            <nz-form-control>
          <textarea
            nz-input
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="newCommentField"
            placeholder="Здесь можно оставить комментарии"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            (keydown.enter)="submitComment()"
          ></textarea>
            </nz-form-control>
            <nz-steps [nzCurrent]="0" nzProgressDot nzDirection="vertical">
              <nz-step
                *ngFor="let event of selectedRecordEvents"
                nzTitle="{{ event.createdAt | date:'medium'}}"
                [nzDescription]="event.details">
              </nz-step>
            </nz-steps>
          </div>
        </form>
      </nz-tab>
      <nz-tab *ngIf="duplicateList.length > 0" nzTitle="Похожие объявления {{ duplicateList.length }}">
        <nz-list nzBordered nzSize="small">
          <nz-list-header >Объявления с идентичным наименованием:</nz-list-header>
          <nz-list-item *ngFor="let duplicate of duplicateList">
            <a [href]="duplicate.link" target="_blank">
              <span class="duplicate-row-platform" >{{ duplicate.platformName}}</span>
              {{ duplicate.title }}
              <span class="duplicate-row-date">{{ duplicate.createdAt | date:'longDate' }}</span>
            </a>
          </nz-list-item>
          <!--          <nz-list-footer>Footer</nz-list-footer>-->
        </nz-list>
      </nz-tab>

    </nz-tabset>
  </div>


</nz-drawer>
