.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-form-container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
